@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic);

/******************************************************************************
  General
*******************************************************************************/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  color: #1e1e1e;
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

/* Text */
a {
  color: #2e5481;
  text-decoration: none;
}
a:active {
  color: #000;
}
a:visited {
  color: #7996b7;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 22px;
  line-height: 1.3;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 26px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
p {
  margin-bottom: 22px;
}
small {
  font-size: 11px;
  line-height: 16px;
}
hr {
  border: 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 0 none;
  margin: 40px 0;
}
ul, ol {
  padding: 0;
  margin: 0 0 22px 60px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

/* Button */
.btn,
.btn:visited {
  background: #1e1e1e;
  border: 0 none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  padding: 9px 20px;
  text-shadow: none;
  filter: none;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  outline: none;
}
.btn:hover,
.btn:focus {
  cursor: pointer;
}
.btn.btn-large {
  font-size: 14px;
  padding: 16px 45px;
}
.btn.btn-small {
  font-size: 12px;
  padding: 5px 15px;
}
.btn.btn-mini {
  font-size: 10px;
  padding: 2px 10px;
}

/* Tables */
table th,
table td {
  text-align: left;
  vertical-align: top;
}

/******************************************************************************
  Header
*******************************************************************************/
.header {
  height: 105px;
}
.header .left {
  padding: 40px 0 0;
}
.header .right {
  padding: 11px 0;
  text-align: right;
}
.header .right small {
  color: #1e1e1e;
  display: block;
  margin: 0 0 14px;
}
.header .right h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/******************************************************************************
  Banner
*******************************************************************************/
.banner {
  background: #f2f2f2;
  padding: 10px 0;
}
.banner table {
  position: relative;
}
.banner img {
  display: block;
}
.banner .banner-content {
  background: #1e1e1e;
  background: rgba(30,30,30,.97);
  bottom: 0;
  padding: 28px 20px 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 274px;
}
.banner .banner-content h2 {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 35px;
}
.banner .banner-content p {
  color: #7b7b7b;
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 37px;
}
.banner .banner-content .btn {
  background: #fff;
  color: #1e1e1e;
  display: block;
  font-weight: bold;
  opacity: .97;
  padding-bottom: 16px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none;
}
.banner .banner-content .btn:hover {
  opacity: 1;
}
/******************************************************************************
  Banner Two
*******************************************************************************/
.banner-two .banner-content {
  background-color: #1e1e1e;
  background-color: rgba(30,30,30,.8);
  bottom: auto;
  left: 50%;
  padding: 20px;
  right: 20px;
  top: 50px;
  width: auto;
}
.banner-two .banner-content h2 {
  margin: 0;
  padding: 10px 5px;
}
.banner-two .banner-content p,
.banner-two .banner-content .inform-box {
  color: #fff;
  margin: 0 0 10px;
  padding: 5px;
}
.banner-two .banner-content p {
  color: #7b7b7b;
  margin-bottom: 0;
}
/******************************************************************************
  Banner Portfolio
*******************************************************************************/
.banner-portfolio .banner-content {
  background: none;
  left: 20px;
  right: 20px;
  top: 100px;
  width: auto;
}
.banner-portfolio .banner-content h2 {
  background-color: #1e1e1e;
  background-color: rgba(30,30,30,.8);
  clear: both;
  display: inline-block;
  margin: 0 0 5px;
  padding: 2px 5px;
}
.banner-portfolio .banner-content p {
  background-color: #1e1e1e;
  background-color: rgba(30,30,30,.6);
  display: inline-block;
  clear: both;
  color: #fff;
  padding: 1px 3px;
}

/******************************************************************************
  Items
*******************************************************************************/
.items-center td {
  text-align: center;
  width: 322px;
}
.items-center td > a {
  display: block;
  line-height: 0;
  margin-right: 10px;
  position: relative;
}
.items-center .two > a {
  margin-left: 10px;
  margin-right: 0;
}
.items-center td img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.items-center td .shadow {
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.01) 29%, rgba(0,0,0,0.01) 30%, rgba(0,0,0,0.01) 33%, rgba(0,0,0,0.17) 62%, rgba(0,0,0,0.24) 68%, rgba(0,0,0,0.62) 90%, rgba(0,0,0,0.73) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(29%,rgba(255,255,255,0.01)), color-stop(30%,rgba(0,0,0,0.01)), color-stop(33%,rgba(0,0,0,0.01)), color-stop(62%,rgba(0,0,0,0.17)), color-stop(68%,rgba(0,0,0,0.24)), color-stop(90%,rgba(0,0,0,0.62)), color-stop(100%,rgba(0,0,0,0.73)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 29%,rgba(0,0,0,0.01) 30%,rgba(0,0,0,0.01) 33%,rgba(0,0,0,0.17) 62%,rgba(0,0,0,0.24) 68%,rgba(0,0,0,0.62) 90%,rgba(0,0,0,0.73) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 29%,rgba(0,0,0,0.01) 30%,rgba(0,0,0,0.01) 33%,rgba(0,0,0,0.17) 62%,rgba(0,0,0,0.24) 68%,rgba(0,0,0,0.62) 90%,rgba(0,0,0,0.73) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 29%,rgba(0,0,0,0.01) 30%,rgba(0,0,0,0.01) 33%,rgba(0,0,0,0.17) 62%,rgba(0,0,0,0.24) 68%,rgba(0,0,0,0.62) 90%,rgba(0,0,0,0.73) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 29%,rgba(0,0,0,0.01) 30%,rgba(0,0,0,0.01) 33%,rgba(0,0,0,0.17) 62%,rgba(0,0,0,0.24) 68%,rgba(0,0,0,0.62) 90%,rgba(0,0,0,0.73) 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.items-center td .text {
  bottom: 46px;
  color: #fff;
  left: 0;
  position: absolute;
  right: 0;
  text-shadow: 0 1px #000;
}
.items-center td h3 {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 0 6px;
}
.items-center td i {
  font-size: 11px;
  font-style: italic;
  font-family: Georgia;
  line-height: 16px;
}
.items-left td,
.items-right td {
  width: 322px;
}
.items-left td a.prev,
.items-right td a.prev {
  display: block;
  line-height: 0;
  margin-right: 10px;
  position: relative;
}
.items-right td a.prev {
  margin-left: 10px;
  margin-right: 0;
}
.items-left td img,
.items-right td img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.items-left td .shadow,
.items-right td .shadow {
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.01) 29%, rgba(0,0,0,0.01) 30%, rgba(0,0,0,0.01) 33%, rgba(0,0,0,0.17) 62%, rgba(0,0,0,0.24) 68%, rgba(0,0,0,0.62) 90%, rgba(0,0,0,0.73) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(29%,rgba(255,255,255,0.01)), color-stop(30%,rgba(0,0,0,0.01)), color-stop(33%,rgba(0,0,0,0.01)), color-stop(62%,rgba(0,0,0,0.17)), color-stop(68%,rgba(0,0,0,0.24)), color-stop(90%,rgba(0,0,0,0.62)), color-stop(100%,rgba(0,0,0,0.73)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 29%,rgba(0,0,0,0.01) 30%,rgba(0,0,0,0.01) 33%,rgba(0,0,0,0.17) 62%,rgba(0,0,0,0.24) 68%,rgba(0,0,0,0.62) 90%,rgba(0,0,0,0.73) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 29%,rgba(0,0,0,0.01) 30%,rgba(0,0,0,0.01) 33%,rgba(0,0,0,0.17) 62%,rgba(0,0,0,0.24) 68%,rgba(0,0,0,0.62) 90%,rgba(0,0,0,0.73) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 29%,rgba(0,0,0,0.01) 30%,rgba(0,0,0,0.01) 33%,rgba(0,0,0,0.17) 62%,rgba(0,0,0,0.24) 68%,rgba(0,0,0,0.62) 90%,rgba(0,0,0,0.73) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 29%,rgba(0,0,0,0.01) 30%,rgba(0,0,0,0.01) 33%,rgba(0,0,0,0.17) 62%,rgba(0,0,0,0.24) 68%,rgba(0,0,0,0.62) 90%,rgba(0,0,0,0.73) 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.items-left td .text {
  margin-left: 10px;
}
.items-right td .text {
  margin-left: 10px;
}
.items-left .text h4,
.items-right .text h4 {
  font-size: 20px;
  margin: 0 0 10px;
}
.items-left .text h4 a,
.items-right .text h4 a {
  color: #1e1e1e;
}
.items-left .text p,
.items-right .text p {
  font-size: 12px;
}
.items-portfolio td {
  width: 33%;
}
.items-portfolio .separator {
  min-width: 15px;
  width: 15px;
}
.items-portfolio td > a {
  margin-right: 0;
}
.items-portfolio td .text {
  bottom: 5px;
}

/******************************************************************************
  Content
*******************************************************************************/
.content {
  padding: 50px 0;
}
.content .banner-small {
  color: #7f7f7f;
  font-size: 12px;
  line-height: 18px;
}
.content .banner-small td {
  padding: 0 0 47px;
  width: 201px;
}
.content .banner-small a {
  color: #7f7f7f;
  display: block;
}
.content .banner-small .two {
  padding: 0 16px;
}
.content .banner-small img {
  opacity: .9;
}
.content .banner-small a:hover img {
  opacity: 1;
}
.content .banner-small h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 17px 0 11px;
}

/******************************************************************************
  Columns
*******************************************************************************/
.columns {
  margin: 0 ;
}
.info h3,
.columns h3 {
  font-size: 16px;
  margin-bottom: 7px;
}
.info h3 a,
.columns h3 a {
  color: #1e1e1e;
  text-decoration: underline;
}
.info p,
.columns p {
  font-size: 12px;
}

/******************************************************************************
  Services
*******************************************************************************/
.services td {
  text-align: center;
}
.services h4 {
  font-size: 22px;
  margin: 20px 0;
}
.services h4 a {
  color: #1e1e1e;
}
.services .text-small {
  font-size: 12px;
}

/******************************************************************************
  Pricing
*******************************************************************************/
.banner-block {
  border: 1px solid #e1e1e1;
  overflow: hidden;
  padding: 30px;
}
.banner-block .left {
  float: left;
  width: 310px;
}
.banner-block .left h2 {
  font-size: 24px;
}
.banner-block .left h2 a {
  color: #1e1e1e;
}
.banner-block .left p {
  color: #999;
  font-size: 12px;
}
.banner-block .left .block-price {
  font-size: 12px;
}
.banner-block .left .block-price .price {
  display: block;
  line-height: 1;
  margin: 10px 0;
}
.banner-block .left .block-price .price span {
  font-size: 36px;
  font-weight: bold;
}
.banner-block .right {
  float: right;
  padding: 55px 0 0;
  text-align: center;
  width: 250px;
}
.plan td {
  padding: 10px 0 40px;
  width: 32%;
}
.pricings {
  margin-top: 76px;
}
.pricing {
  background: #f7f7f7;
}
.pricing .title {
  line-height: 32px;
  padding: 17px 10px 21px;
}
.pricing .title a {
  color: #1e1e1e;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  text-decoration: none;
}
.pricing .price-box {
  font-size: 12px;
  line-height: 1;
  overflow: hidden;
  padding: 0 10px 10px;
}
.pricing .price-box .icon {
  background: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #505050;
  float: right;
  height: 60px;
  text-align: center;
  width: 60px;
}
.pricing .price-box .icon i {
  background: none;
  font-size: 30px;
  height: auto;
  line-height: 55px;
  margin: 0;
  width: auto;
}
.pricing .price-box .price {
  font-size: 36px;
  font-weight: bold;
  margin: 13px 0 0;
}
.pricing .price-box .price span {
  font-size: 12px;
}
.pricing .options {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pricing .options li {
  border-top-width: 1px;
  color: #999;
  height: 39px;
  line-height: 39px;
  padding: 0 5px 0 25px;
  position: relative;
}
.pricing .options li span {
  color: #1e1e1e;
  display: none;
  left: 10px;
  line-height: 1;
  position: absolute;
  top: 13px;
}
.pricing .options li.active {
  color: #1e1e1e;
}
.pricing .options li.active span {
  display: block;
}
.pricing .bottom-box {
  border-top-width: 1px;
  overflow: hidden;
  padding: 9px 9px 10px;
}
.pricing .bottom-box .more {
  color: #7f7f7f;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
}
.pricing .bottom-box .more:hover {
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}
.pricing .bottom-box .more span {
  font-size: 9px;
  margin: 0 0 0 3px;
  vertical-align: middle;
}
.pricing .bottom-box .rating-box {
  float: right;
}
.pricing .bottom-box .btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  margin: 9px 0 0;
  min-height: 40px;
  width: 100%;
}
.pricing .bottom-box .btn.btn-success {
  background-color: #8aa902;
}
.pricing .bottom-box .btn.btn-danger {
  background-color: #d70a49;
}
.pricing-info {
  background: #ecfaff;
}
.pricing-info .title a {
  color: #01a5db;
}
.pricing-info .price-box .icon {
  color: #35beeb;
}
.pricing-info .options li,
.pricing-info .bottom-box {
  color: #9cc9d8;
  border-color: #caeaf5;
}
.pricing-info .bottom-box {
  background: #dcf2fa;
} 
.pricing-info .options li span,
.pricing-info .bottom-box .more {
  color: #01a5db;
}
.pricing-success {
  background: #f8fce8;
}
.pricing-success .title a {
  color: #84a200;
}
.pricing-success .price-box .icon {
  color: #9ab71a;
}
.pricing-success .options li,
.pricing-success .bottom-box {
  color: #bbc398;
  border-color: #e3ebbe;
}
.pricing-success .bottom-box {
  background: #f0f8d0;
}
.pricing-success .bottom-box .more,
.pricing-success .options li span {
  color: #84a200;
}
.pricing-error {
  background: #fcedf2;
}
.pricing-error .title a {
  color: #d40746;
}
.pricing-error .price-box .icon {
  color: #de2a61;
}
.pricing-error .options li,
.pricing-error .bottom-box {
  color: #ead2da;
  border-color: #ead2da;
}
.pricing-error .bottom-box {
  background: #e9c2cf;
  border-color: #ead2da;
}
.pricing-error .options li span,
.pricing-error .bottom-box .more {
  color: #d40746;
}
.rating-box {
  background: url("../img/rating-box.png") 0 0 no-repeat;
  height: 12px;
  width: 73px;
}
.rating-box .rating {
  background: url("../img/rating.png") 0 0 no-repeat;
  height: 12px;
  margin: 0;
  padding: 0;
  width: 73px;
}
.pricing-info .rating-box {
  background-position: 0 -12px;
}
.pricing-info .rating-box .rating {
  background-position: 0 -12px;
}
.pricing-success .rating-box {
  background-position: 0 -24px;
}
.pricing-success .rating-box .rating {
  background-position: 0 -24px;
}
.pricing-error .rating-box {
  background-position: 0 -36px;
}
.pricing-error .rating-box .rating {
  background-position: 0 -36px;
}

/******************************************************************************
  Footer
*******************************************************************************/
.footer {
  background: #f7f7f7;
  border-top: 1px solid #e1e1e1;
  color: #7f7f7f;
  font-size: 11px;
  line-height: 20px;
  padding: 20px 0;
}
.footer b {
  color: #1e1e1e;
}
.footer .social {
  text-align: right;
  width: 50px;
}
.footer .social a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  height: 40px;
  line-height: 42px;
  margin: 0 0 0 10px;
  opacity: 0.35;
  text-align: center;
  width: 40px;
}
.footer .social a:hover {
  opacity: 1;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}