
  
 <header class="page-header">
    <div class="container">
      	  <h4>FAQ</h4>
    </div>	
  </header>

  <div class="container">
    <div class="row">
      <div class="content span12">

		<h6>Creare un sondaggio</h6>
		<p>
			Creare un sondaggio e' molto semplice.<br>
			Come dati personali ti chiediamo solamente una tua <strong>email</strong> che non verra' mai resa pubblica.<br>
			Scegli un <strong>nickname</strong> e scrivi una tua breve descrizione.<br>
			La <strong>validit&agrave;</strong> indica la data entro la quale &egrave;  possibile votare.<br>
			Le <strong>opzioni</strong> di risposta devono essere almeno due e masimo dieci. Usa i tasti + e - per aggiungere o togliere un'opzione<br>	
			Dopo la creazione il sondaggio deve essere confermato, ti verra' spedita una email per confermarlo. 
			Dopo la conferma il sondaggio deve essere approvato da OpenPoll.it che si riserva la facolta' di cancellarlo se non soddisfa i requisiti.
			L'esito dell'approvazione ti viene spedito per email. Da questo momento, se approvato, il sondaggio e' pubblico e puo' essere votato da tutti.
		</p>
		<hr>
		<h6>Votare un sondaggio</h6>
		<p>
			Una volta scelto il sondaggio cliccare sul grande bottone blu VOTA. Viene aperta una pagina con il dettaglio del sondaggio. 
			Per procedere con la votazione devi essere in possesso del codice segreto univoco. Nella colonna a destra trovi un riquadro per generare il codice che ti verra' spedito alla email indicata.<br>
			Quando ti arriva l'email con il codice, clicca sul link che trovi e vota l'opzione che preferisici. <br>
			Non e' possibile votare piu' di una volta con quel codice. <br>
			Non e' possibile votare piu' di una volta con l'email indicata. Quindi il voto e' unico per email.
		</p>
		<br class="clearfix">
		<hr>
		<h6>Invitare un amico</h6>
		<p>
			Puoi anche invitare un amico tramite email per votare a un certo sondaggio. Nel dettaglio del sondaggio trovi un riquadro a destra dove puoi inserire l'email di un tuo amico.<br>
			Gli spediremo il codice segreto per votare.
		</p>
		<br class="clearfix">
		<hr>	
		<h6>Simboli</h6>
		<p>
			<i class="fa fa-bullhorn"></i> = numero di voti totali del sondaggio<br>
			<i class="fa fa-tag"></i> = categoria del sondaggio<br>
			<i class="fa fa-calendar"></i> = data di creazione del sondaggio<br>
			<i class="fa fa-ban"></i> = data di chiusura del sondaggio (oltre il quale non si puo' votare)<br>
			<i class="fa fa-user"></i> = utente che ha proposto il sondaggio<br>
		</p>
		<br class="clearfix">
		<hr>	  
	  
      </div><!-- .content -->
    </div>
  </div><!-- .container -->
  
