
  
 <header class="page-header">
    <div class="container">
      	  <h4>Termini e Condizioni</h4>
    </div>	
  </header>

  <div class="container">
    <div class="row">
      <div class="content span12">

		Benvenuto su <strong>OpenPoll!</strong><br><br>
		Per inserire un sondaggio segui queste semplici regole:<br><br>
		<ol>
			<li>Scrivi la domanda in modo non ambiguo e descrivi il sondaggio in modo esauriente</li>
			<li>Sei responsabile di tutto quello che scrivi e che descrivi sia nel sondaggio sia nel tuo profilo</li>
			<li>Non si accettano sondaggi che possano offendere altre persone in ogni loro ambito (religioso, lavorativo, etc etc)</li>
			<li>Non si accettano sondaggi inerenti la pornografia</li>
		</ol>
		<h6>OpenPoll si riserva il diritto di approvare o meno il sondaggio!</h6>
	  
      </div><!-- .content -->
    </div>
  </div><!-- .container -->
  
